@import "tailwindcss";

:root {
  --font-mulish: "Mulish", sans-serif;
  --font--inter: "Inter", sans-serif;
  --color--primary: #1d4ed8;
  --color--secundery: #99a5c7;
}

@layer utilities {
  .bg-overlay-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../assets/bg.png");
  }
}

/* Hilangkan mata bawaan di Chrome, Edge, Safari */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-textfield-decoration-container,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-outer-spin-button {
  display: none !important;
  appearance: none;
}
